// Основные цвета
$primary: #3b82f6;
$secondary: #16a34a;
$accent: #a855f7;

// Цвета фона и текста
$dark: #1e293b;
$dark-page: #0f172a;

// Семантические цвета
$positive: #22c55e;
$negative: #ef4444;
$info: #0ea5e9;
$warning: #f59e0b;

// --- Цвета для текста ---
$text-primary: #e2e8f0;
$text-muted: #94a3b8;
$text-link: #60a5fa;

// --- Цвета для событий на карте ---
$event-hot: #f43f5e;
$event-new: #fcd34d;
$event-special: #5eead4;

// --- Цвета для границ и разделителей ---
$border-color: #334155;

.text-custom-muted {
  color: $text-muted;
}
